@inherits BoggleBoardBase

<div class="row board justify-content-center">
    @if (letters != null)
    {
        @for (int i = 0; i < 4; i++)
        {
            <div class="row">
                @foreach (var letter in GetBoardRow(i))
                {
                    <div class="dice">
                        <span class="dice-value">@letter</span>
                    </div>
                }
            </div>
        }
    }
</div>
