@inherits BoggleBoardBase

<div class="board justify-content-center" style="opacity:@boardOpacity">
    @if (letters != null)
    {
        @for (int i = 0; i < 4; i++)
        {
            <div class="d-flex flex-row justify-content-center board-row @GetBoardPadding(i)">
                @foreach (var letter in GetBoardRow(i))
                {
                    <div class="dice">
                        <div style="transform:rotate(@GetRotation(rotate))"><span class="dice-value">@letter</span></div>                       
                    </div>
                }
            </div>
        }
    }
</div>

@code
{
    string GetRotation(int rotation)
    {
        return $"{RotateDice()}deg";
    }
}
