@inherits BoggleBoardBase

<div class="board justify-content-center">
    @if (letters != null)
    {
        @for (int i = 0; i < 4; i++)
        {
            <div class="row justify-content-center board-row @GetBoardPadding(i) @GetBorderRadius(i)">
                @foreach (var letter in GetBoardRow(i))
                {
                    <div class="dice">
                        <span class="dice-value">@letter</span>
                    </div>
                }
            </div>
        }
    }
</div>
