@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@implements IDisposable
<!--<div class="sidebar">
    <NavMenu />
</div>-->

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <CascadingValue Value="hubConnection">
        <div class="content px-4">
            @Body
        </div>
    </CascadingValue>
</div>


@code
{
    HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        await hubConnection.StartAsync();
    }

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}


