@page "/room/{roomId}"
@inherits GameRoomBase


<div class="boggle-container row">
    <div class="gameboard col-md-8">
        <p>Hello @username. Wellcome to room {@room?.Name}</p><br />
        <p>@message</p><br />

        @foreach (var u in usersInGroup)
        {
            <p>@u.Username</p><br />
        }

    <BoggleBoard @ref="BoggleBoard" RoomId="@RoomId"></BoggleBoard>


        <br />

        <button class="button button-primary" type="button" @onclick="Shuffle">Shuffle</button>
    </div>
    <div class="infoboard col-md-4">

    </div>
</div>


@code
{
}